.search-results {
    position: absolute;
    background: #fff;
    width: 16rem;
    margin-left: 1rem;
    border: 1px solid #999;
}

.search-item {
    border-bottom: 1px solid #aaa;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.item-name {
    font-weight: 600;
    max-width: 12rem;
}