.header-bg {
  background-color: #000c;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-lbl {
  background-color: #dcdc00;
  padding: 0.5rem;
  margin-left: 1.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #000c;
}

.watchlist {
  margin-right: 2rem;
  cursor: pointer;
}

.watchList-lbl {
  color: #fff;
}

.user-details {
  display: flex;
  align-items: center;
}

.user {
  color: #fff;
  margin-right: 10px;
}

.logout {
  color: #76abff;
  cursor: pointer;
  text-align: end;
}